# Environment
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.pytest_cache/
venv/
.venv/

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars
!terraform.tfvars.example
.terraformrc
terraform.rc

# Docker
*.log

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
